.allbox{
    width: 100%;
    padding-top: 50em;
}
#firstbox{
    width: 380px;
    height: 384px;
    margin-top: 135px;
    margin-left: 4%;
    float: left;
    display: block;
    padding-top: 2em;
    padding-bottom: 2em;
    border: 1px solid lightgrey;
    background-color: #fff;
    color: black;
}
#secondbox{
    width: 380px;
    height: 384px;
    margin-top: 10%;    
    margin-left: 3.5%;
    float: left;
    display: block;
    padding-top: 2em;
    padding-bottom: 2em;
    border: 1px solid lightgrey;
    background-color: #fff;
    color: black;
}
#thirdbox{
    width: 380px;
    height: 384px;;
    margin-top: 10%;
    margin-left: 3.5%;
    float: left;
    display: block;
    padding-top: 2em;
    padding-bottom: 2em;
    border: 1px solid lightgrey;
    background-color: #fff;
    color: black;
}
#firstbox article{
    text-align: center;
}
#secondbox article{
    text-align: center;
}
#thirdbox article{
    text-align: center;
}
#firstbox:hover{
    border: 1px solid rgb(16, 168, 97); 
    transition-duration: 1s; 
}
#secondbox:hover{
    border: 1px solid rgb(16, 168, 97); 
    transition-duration: 1s; 
}
#thirdbox:hover{
    border: 1px solid rgb(16, 168, 97);
    transition-duration: 1s; 
}

#imgtwo{
    padding-top: 10%;
    float: left;
    margin-left: 2em;
    width: 35%;
    margin-top: 180px;
    margin-left: -350px;
    padding-right:-20%;

}
#imgtwointro{
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 400;
    color: #151948;
    padding-top: 9%;
    color: black;
    margin-top: 200px;
    width: 50%;
    margin-right: 5%;
    float: right;
}
#imgtwointro article h1 {
    line-height: 150%;
    padding-bottom: 1em;
}
#imgtwointro article p {
    line-height: 150%;
    padding-bottom: 1em;
}
#whitearea{
    background-color: white;
}