#firstbox{
    width: 20%;
    margin-top: 267px;
    margin-left: 15.5%;
    float: left;
    display: block;
    padding-top: 2em;
    padding-bottom: 2em;
    border: 1px solid rgba(51, 37, 54, 0.637);
    background-color: rgba(141, 50, 141, 0.37);
    border-radius: 30px;
}
#secondbox{
    width: 20%;
    margin-top: 10%;    
    margin-left: 3.5%;
    float: left;
    display: block;
    padding-top: 2em;
    padding-bottom: 2em;
    border: 1px solid rgba(51, 37, 54, 0.637);
    background-color: rgba(141, 50, 141, 0.37);
    border-radius: 30px;
}
#thirdbox{
    width:20%;
    margin-top: 10%;
    margin-left: 3.5%;
    margin-right: 15.5%;
    float: left;
    display: block;
    padding-top: 2em;
    padding-bottom: 2em;
    border: 1px solid rgba(51, 37, 54, 0.637);
    background-color: rgba(141, 50, 141, 0.37);
    border-radius: 30px;
}
#firstbox article{
    text-align: center;
}
#secondbox article{
    text-align: center;
}
#thirdbox article{
    text-align: center;
}
#firstbox:hover{
    box-shadow: 0 8px 12px 0 rgba(82, 34, 92, 0.548), 0 17px 50px 0 rgba(82, 34, 92, 0.548); 
}
#secondbox:hover{
    box-shadow: 0 8px 12px 0 rgba(82, 34, 92, 0.548), 0 17px 50px 0 rgba(82, 34, 92, 0.548); 
}
#thirdbox:hover{
    box-shadow: 0 8px 12px 0 rgba(82, 34, 92, 0.548), 0 17px 50px 0 rgba(82, 34, 92, 0.548); 
}

#imgtwo{
    float: left;
    margin-left: 2em;
    width: 35%;
    margin-top: 180px;
    margin-left: -350px;
    padding-right:-20%;

}
#imgtwointro{
    margin-top: 250px;
    width: 50%;
    margin-right: 5%;
    float: right;
}
#imgtwointro article h1 {
    line-height: 150%;
    padding-bottom: 1em;
}
#imgtwointro article p {
    line-height: 150%;
    padding-bottom: 1em;
}
