#contact {
    background-color: white;
    float: left;
    width: 100%;
    margin-top: 15em;
    text-align: center;
    padding-top: 4em;
     padding-bottom: 4em;
}
#contact-intro article h1{
    font-family:'Poppins', sans-serif;
    font-size: 40px;
    color: #24153c;
    padding-bottom: 5px;
}
.submitrow{
    margin-top: 4em;
    margin-left: -8em;
    float: left;
}


#contactForm {
    float: left;
    margin-top: 4em;
    padding-left: 16em;
}

#contactForm .form-group {
    margin-bottom: 30px;
}

#contactForm input[type=text], #contact form#contactForm input[type=email] {
    min-height: 52px;
    padding: 0px 0 0 28px;
    font-size: 16px;
    color: #5e629c;
}

#contactForm textarea {
    border-radius: 5px;
    padding: 15px 0 0 28px;
    font-size: 16px;
    color: #5e629c;
}

#contactForm .form-control:focus {
    border: 1px solid #3ecf8e;
    outline: none;
    box-shadow: none;
    background: #e5fff3;
}

.col-md-1 {
    padding-left: 5%;
}

.col-md-2 {
    padding-left: 5%;
}

.col-md-3 {
    padding-left: 5%;
    margin-right: -250%;
    margin-top: -72%;
}

.col-md-4 {
    padding-left: 5%;
    margin-right: -250%;
}

.col-md-5 {
    padding-left: 5%;
}

.col-md-5 .form-group textarea {
    width: 219%;
}

.btn-common {
    background-color: #3ecf8e;
    margin-left: -111px;
    padding: 7px 24px;
}

.btn-common:hover {
    background-color: rgba(69, 15, 77, 0.973);
    color: white;
}
#lastimage{
    margin-top: 4em;
    margin-right: -7em;
}

.lastly {
    font-family: 'Poppins', sans-serif;
    padding-left: 5%;
    width: 95%;
    background-color: #24153c;
    margin-top: 8%;
    float: left;
    text-align: left;
    display: block;
    padding-bottom: 8%;
}

#lastly{
    border: 1px solid red;
    width: 100%; 
    margin-top: 10%;
}
#last-image{
    float: left;
    margin-top: 10%;
}
#last-lists{
    margin-top: 4em;
    margin-left: 3em;
    float: right;
    width: 20%;
    text-align: left;
}
#last-lists ul{
    display:grid;
}
#last-lists ul a{
    float: left;   
}




#end {
    background-color: #5e629c;
    width: 99.9%;
    float: left;
    display: block;
    border: 1px solid white;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
}

.widget {
    float: center;
    text-align: left;
    width: 20%;
    margin-left: 0;
    margin-left: 65%;
    margin-top: -24.5%;
}

.widget article {
    line-height: 200%;
}

.widget article h2 {
    padding-bottom: 12%;
}

.widget .subscribe-area {
    position: relative;
    height: 40px;
    margin-top: 18px;
}

.widget .subscribe-area input[type=email] {
    background: #24153c;
    border: 1px solid #fff;
    color: #e2e2e2;
    font-size: 14px;
    font-style: italic;
    height: 38px;
    border-radius: 5px;
    width: 80%;
}

.widget .subscribe-area span i {
    position: absolute;
    border: 1px solid white;
    border-radius: 5px;
    right: 0;
    width: 60px;
    height: 26px;
    color: #fff;
    top: 0;
    background: #3ecf8e;
    display: block;
    padding: 6px 6px;
    font-size: 18px;
    border-radius: 0px 4px 4px 0px;
    padding-left: -20%;
}

#end h3 {
    text-decoration: none;
}