@import url("https://fonts.googleapis.com/css?family=Rubik:400,400i,500");
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600");
body {
    font-family: 'Poppins', sans-serif;
    color: #a0a6ad;
    line-height: 200%;
    font-weight: 400;
    background: #fff;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

header {
    opacity: 1;
    width: 100%;
    background: linear-gradient(95deg, #5533ff 40%, #25ddf5 100%);
    padding-bottom: 0%;
    display: block;
    z-index: 10;
    border-bottom: 1px solid rgb(211, 202, 202);
}

h1 {
    font-size: 40px;
}

.apply {
    position: relative;
    border: 1px solid red;
    z-index: -9999
}

.apply .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: #5533ff;
    background: linear-gradient(95deg, #5533ff 40%, #25ddf5 100%);
    -webkit-transform: skewY(-12deg);
    transform: skewY(-12deg);
    -webkit-transform-origin: 0;
    transform-origin: 0;
    z-index: -1;
    padding-top: 53%;
}

.apply .overlay :nth-child(1) {
    width: 33.33333%;
    width: calc(100% / 2);
    top: 0;
    left: 16.66666%;
    left: calc(calc(100% / 3) / 2);
    right: auto;
    background: #5533ff;
    background: linear-gradient(95deg, #5533ff 40%, #25ddf5 100%);
    height: 200px;
    z-index: 11;
    margin-top: -53%;
    margin-bottom: 40%;
}

.apply .overlay :nth-child(2) {
    width: 33.33333%;
    width: calc(100% /3);
    bottom: 0;
    background: #5533ff;
    background: linear-gradient(95deg, #5533ff 40%, #25ddf5 100%);
    position: absolute;
    height: 155px;
    left: 3%;
}

body {
    font-family: 'Rubik', sans-serif;
    background-color: white;
    width: 100%;
    margin-top: -1%;
}

.logo {
    margin-top: 2em;
    float: left;
    margin-left: -67px;
    padding-right: 60px;
}

ol {
    font-family: 'Poppins', sans-serif;
    float: left;
    list-style-type: none;
    padding: 0;
    margin-right: 3%;
    margin-top: 47px;
}

li {
    display: inline-block;
    width: 100px;
}

li a {
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
    border-radius: 8px;
    transition: 0.6s ease;
    font-weight: bold;
}

header .main {
    position: fixed;
    width: 100%;
    margin: auto;
    padding-left: 10%;
    padding-right: 5%;
    padding-bottom: 2%;
    z-index: 20;
    height: 5em;
    margin-top: -15px;
}

.sticky .main {
    background: linear-gradient(95deg, #5533ff 40%, #25ddf5 100%);
    position: fixed;
    width: 100%;
    margin: auto;
    padding-left: 10%;
    padding-right: 5%;
    padding-bottom: 2%;
    z-index: 20;
    height: 5em;
    margin-top: -15px;
}

#hello {
    margin-top: 10%;
    margin-bottom: -20%;
    width: 100%;
    height: 550px;
    z-index: 5;
}

.firstimg {
    margin-top: 11%;
    float: right;
    width: 54%;
}

#intropara {
    margin-top: 22%;
    padding-left: 10%;
    float: left;
    width: 35%;
    color: #fff;
    padding-bottom: 2em;
}

#intropara article h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    padding-bottom: 1em;
    margin-top: -3em;
    padding-top: 4px;
    padding-bottom: 8px;
}

#intropara article p {
    font-size: 1em;
    padding-bottom: 2em;
    color: #fff;
}

.btn {
    font-size: 14px;
    padding: 10px 30px;
    border-radius: 4px;
    font-family: 'Rubik', sans-serif;
    letter-spacing: 1px;
    font-weight: 500;
    color: #fff;
    border: none;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    display: inline-block;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-nav {
    background: #7fc9fb;
    color: #fff;
    padding: 7px 23px 7px 8px;
    margin-left: 30px;
    box-shadow: 0 8px 9px 0 rgba(96, 94, 94, .17);
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.btn1 {
    margin-left: 0em;
    padding: 10px 15px 10px 15px;
    background-color: #3ecf8e;
    color: white
}

.btn2 {
    margin-left: 1em;
    padding: 10px 20px 10px 20px;
    background-color: #fff;
    color: #3ecf8e;
}

.btn1:hover {
    border: 1px solid #fff;
    background-color: #5533ff;
}

.btn2:hover {
    margin-top: -5px;
}

.btn0 {
    padding: 10px 20px 10px 20px;
    background-color: #3ecf8e;
    color: white;
}

.btn0:hover {
    border: 1px solid #fff;
    background-color: #5533ff;
}

#downloadbtn {
    border: 1px solid rgba(44, 32, 87, 0.685);
    background: rgba(232, 237, 248, 0.692);
    padding: 5px 6px;
    transition: 0.6s ease;
    border-radius: 8px;
}

#features {
    background: #f9f9f9;
}

#features .featured-bg {
    background: #fff;
}

#features .featured-border1 {
    border-bottom: 1px solid #ededed;
    border-right: 1px solid #ededed;
}

#features .featured-border2 {
    border-bottom: 1px solid #ededed;
}

#features .featured-border3 {
    border-right: 1px solid #ededed;
}

#features .feature-item {
    padding: 30px;
    overflow: hidden;
    -moz-transition: all .8s ease;
    -webkit-transition: all .8s ease;
    transition: all .8s ease;
}

#features .feature-item .feature-icon {
    float: left;
    background: #e3fff2;
    width: 100px;
    height: 100px;
    margin: 0px auto;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-bottom: 0px;
    margin-bottom: 0px;
    text-align: center;
    display: block;
    border-radius: 50%;
    position: relative;
    margin-right: 30px;
    border: 1px solid #3ecf8e;
    margin-top: 12px;
}

#features .feature-item .feature-icon i {
    font-size: 40px;
    color: #3ecf8e;
    position: absolute;
    left: 0;
    right: 0;
    top: 32%;
}

#features .feature-item h4 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

#features .feature-item p {
    font-size: 16px;
    display: block;
}

#features .feature-item:hover {
    box-shadow: 0px 0px 25px 0px rgba(95, 95, 95, 0.24);
    -moz-transition: all .8s ease;
    -webkit-transition: all .8s ease;
    transition: all .8s ease;
}

#features .feature-item:hover .feature-icon {
    background: #3ecf8e;
    -moz-transition: all .8s ease;
    -webkit-transition: all .8s ease;
    transition: all .8s ease;
}

#features .feature-item:hover .feature-icon i {
    color: #fff;
    -moz-transition: all .8s ease;
    -webkit-transition: all .8s ease;
    transition: all .8s ease;
}

.allbox {
    width: 100%;
    padding-top: 50em;
}

.iconfirst {
    background: #e3fff2;
    width: 110px;
    height: 110px;
    margin: 0px auto;
    margin-bottom: 0px;
    text-align: center;
    display: block;
    border-radius: 50%;
    position: relative;
    margin-bottom: 25px;
}

.iconfirst i {
    font-size: 40px;
    color: #3ecf8e;
    position: relative;
    left: 0;
    right: 0;
    top: 30%;
}

#boxtop {
    padding-bottom: 2em;
}

#boxbottom {
    text-align: center;
}

#firstbox {
    width: 380px;
    height: 384px;
    margin-top: 135px;
    margin-left: 4%;
    float: left;
    display: block;
    padding-top: 2em;
    padding-bottom: 2em;
    border: 1px solid lightgrey;
    background-color: #fff;
    color: black;
}

#secondbox {
    width: 380px;
    height: 384px;
    margin-top: 10%;
    margin-left: 3.5%;
    float: left;
    display: block;
    padding-top: 2em;
    padding-bottom: 2em;
    border: 1px solid lightgrey;
    background-color: #fff;
    color: black;
}

#thirdbox {
    width: 380px;
    height: 384px;
    ;
    margin-top: 10%;
    margin-left: 3.5%;
    float: left;
    display: block;
    padding-top: 2em;
    padding-bottom: 2em;
    border: 1px solid lightgrey;
    background-color: #fff;
    color: black;
}

#firstbox article {
    text-align: center;
}

#secondbox article {
    text-align: center;
}

#thirdbox article {
    text-align: center;
}

#firstbox:hover {
    border: 1px solid rgb(16, 168, 97);
    transition-duration: 1s;
}

#secondbox:hover {
    border: 1px solid rgb(16, 168, 97);
    transition-duration: 1s;
}

#thirdbox:hover {
    border: 1px solid rgb(16, 168, 97);
    transition-duration: 1s;
}

#imgtwo {
    padding-top: 10%;
    float: left;
    margin-left: 2em;
    width: 35%;
    margin-top: 180px;
    margin-left: 50px;
    padding-right: -20%;
}

#imgtwointro {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 400;
    color: #151948;
    padding-top: 9%;
    color: black;
    margin-top: 200px;
    width: 50%;
    margin-right: 5%;
    float: right;
}

#imgtwointro article h1 {
    line-height: 150%;
    padding-bottom: 1em;
}

#imgtwointro article p {
    line-height: 150%;
    padding-bottom: 1em;
}

#whitearea {
    background-color: white;
}

#serprovide {
    margin-top: 250px;
    padding-bottom: 10%;
    width: 100%;
    height: 7em;
    padding-top: 4em;
    text-align: center;
    float: left;
    display: block;
    background-color: white;
    color: black;
}

#serprovide article h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 400;
    color: #151948;
    padding: 0.7em;
}

#blocksleft {
    float: left;
    max-width: 40%;
    margin-left: 8%;
}

#blocksleft h1 {
    font-size: 25px;
}

#blocksleft p {
    font-size: 18px;
}

#blocksright {
    max-width: 40%;
    float: right;
    margin-right: 8%;
}

#blocksright h1 {
    font-size: 25px;
}

#blocksright p {
    font-size: 18px;
}

#showcase {
    float: left;
    width: 100%;
    display: block;
    text-align: center;
    margin-top: 250px;
    background-color: white;
    padding-top: 4em;
    padding-bottom: 4em;
    color: black;
}

#pricing-table {
    float: left;
    width: 80%;
    margin-left: 10%
}

#pricing article h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 400;
    color: #151948;
    padding-bottom: 1em;
}

#pricing {
    margin-top: 250px;
    width: 100%;
    padding-bottom: 4em;
    padding-top: 4em;
    text-align: center;
    float: left;
    display: block;
    background-color: #fff;
    color: black;
}

#pricing1 {
    background-color: white;
    float: left;
    display: block;
    width: 25%;
    border: 1px solid gray;
    border-radius: 5px;
    text-align: center;
    line-height: 2em;
    margin-top: 2em;
    margin-left: 10.25%;
    padding-top: 1em;
    padding-bottom: 1em;
}

#pricing1 h2 {
    padding-top: 2%;
    padding-bottom: 3%;
}

.pricing-table h2 {
    font-size: 20px;
    color: #151948;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 11px;
}

.pricing-table h1 {
    color: #3ecf8e;
    font-size: 50px;
    font-weight: 500;
    position: relative;
    padding-left: 10px;
}

.pricing-table h1 span {
    font-size: 16px;
    position: absolute;
    left: 20%;
    top: 10px;
}

p {
    font-size: 16px;
    font-weight: 400;
    color: #5e629c;
    display: block;
    line-height: 33px;
}

#pricing1 h1 {
    color: #3ecf8e;
}

#pricing1 p {
    padding-top: 2%;
}

#pricing2 {
    background-color: white;
    float: left;
    width: 25%;
    border: 1px solid gray;
    border-radius: 5px;
    text-align: center;
    line-height: 2em;
    margin-top: 2em;
    margin-left: 2.25%;
    padding-top: 1em;
    padding-bottom: 1em;
}

#pricing2 h2 {
    padding-top: 2%;
}

#pricing2 h1 {
    color: #3ecf8e;
    padding-top: 2%;
}

#pricing2 p {
    padding-top: 2%;
}

#pricing3 {
    background-color: white;
    float: left;
    width: 25%;
    border: 1px solid gray;
    border-radius: 5px;
    text-align: center;
    line-height: 2em;
    margin-top: 2em;
    margin-left: 2.25%;
    padding-top: 1em;
    padding-bottom: 1em;
}

#pricing3 h2 {
    padding-top: 2%;
}

#pricing3 h1 {
    color: #3ecf8e;
    padding-top: 2%;
}

#pricing3 p {
    padding-top: 2%;
}

#pricing1:hover {
    border: 1px solid #3ecf8e;
    transition-duration: 0.6s;
}

#pricing2:hover {
    border: 1px solid #3ecf8e;
    transition-duration: 0.6s;
}

#pricing3:hover {
    border: 1px solid #3ecf8e;
    transition-duration: 0.6s;
}

.btn5 {
    border: 1px solid #3ecf8e;
    background-color: white;
    color: #3ecf8e;
    margin-top: 10px;
}

.btn6 {
    border: 1px solid #3ecf8e;
    background-color: #3ecf8e;
    color: #fff;
    margin-top: 10px;
}

.btn7 {
    border: 1px solid #3ecf8e;
    background-color: white;
    color: #3ecf8e;
    margin-top: 10px;
}

.btn5:hover {
    background-color: #3ecf8e;
    color: white;
}

.btn6:hover {
    background-color: white;
    color: #3ecf8e;
}

.btn7:hover {
    background-color: #3ecf8e;
    color: white;
}

.video {
    width: 100%;
    margin-top: 10em;
    float: left;
}

.play-button {
    position: relative;
    float: left;
    margin-top: -23%;
    margin-left: 45%;
}

#testimonial {
    position: relative;
    z-index: 1;
    margin-top: -25%;
    width: 50%;
    margin-left: 12.5%;
    text-align: center;
    margin-bottom: 270px;
    background: url(../img/bg/testimonial-bg.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.description {
    padding-left: 10%;
    width: 70%
}

#testimonial .right-position {
    position: relative;
}

#testimonial .testimonial-area {
    position: absolute;
    width: 150%;
    z-index: 12;
    top: 260px;
    margin: 0px auto;
}

#testimonial #client-testimonial {
    background-color: #fff;
    padding: 54px;
    -webkit-box-shadow: 0px 0px 25px 0px rgba(95, 95, 95, 0.24);
    -moz-box-shadow: 0px 0px 25px 0px rgba(95, 95, 95, 0.24);
    box-shadow: 0px 0px 25px 0px rgba(95, 95, 95, 0.24);
}

#testimonial #client-testimonial .content-inner p {
    font-size: 24px;
    color: #5e629c;
    font-style: italic;
    line-height: 35px;
}

#testimonial #client-testimonial .author-info {
    padding-top: 26px;
    padding-bottom: 20px;
}

#testimonial #client-testimonial .author-info h5 {
    color: #151948;
    font-size: 18px;
    margin-right: 6em;
}

#testimonial #client-testimonial h5 span {
    font-size: 16px;
    color: #5e629c;
    font-style: italic;
}

.client-thumb {
    margin-right: 6em;
}

#testimonial #client-testimonial .owl-controls .owl-buttons div.owl-prev {
    color: #3ecf8e;
    display: inline-block;
    zoom: 1;
    *display: inline;
    margin: 5px;
    font-size: 16px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 50px;
    background: #fff;
    filter: Alpha(Opacity=50);
    position: absolute;
    left: -20px;
    top: 48%;
    opacity: 1;
    border: 1px solid #ccc;
    width: 38px;
    height: 38px;
    padding: 8px 0px;
}

#testimonial #client-testimonial .owl-controls .owl-buttons div.owl-next {
    color: #3ecf8e;
    display: inline-block;
    zoom: 1;
    *display: inline;
    margin: 5px;
    font-size: 16px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 50px;
    background: #fff;
    filter: Alpha(Opacity=50);
    position: absolute;
    right: -20px;
    top: 48%;
    opacity: 1;
    border: 1px solid #ccc;
    width: 38px;
    height: 38px;
    padding: 8px 0px;
}

#testimonial #client-testimonial .owl-controls .owl-buttons div.owl-prev:hover, #testimonial #client-testimonial .owl-controls .owl-buttons div.owl-next:hover {
    color: #fff;
    background: #3ecf8e;
    border-color: #3ecf8e;
}

#testimonial .video-promo-content {
    padding-top: 0;
    padding-bottom: 300px;
}

#testimonial .video-play-button {
    position: absolute;
    z-index: 10;
    top: 30%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    box-sizing: content-box;
    display: block;
    width: 32px;
    height: 44px;
    /* background: #fa183d; */
    border-radius: 50%;
    padding: 18px 20px 18px 28px;
}

#testimonial .video-play-button:before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 100px;
    height: 100px;
    background: #fff;
    border-radius: 50%;
    animation: pulse-border 1500ms ease-out infinite;
}

#testimonial .video-play-button:after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 100px;
    height: 100px;
    background: #fff;
    border-radius: 50%;
    transition: all 200ms;
    opacity: 0.5;
}

#testimonial .video-play-button:hover:after {
    background-color: #28ca81;
}

#testimonial .video-play-button:hover span {
    border-left: 22px solid #fff;
    border-top: 14px solid transparent;
    border-bottom: 14px solid transparent;
    border-radius: 2px;
}

#testimonial .video-play-button span {
    display: block;
    position: relative;
    z-index: 3;
    width: 0;
    height: 0;
    border-left: 22px solid #3ecf8e;
    border-top: 14px solid transparent;
    border-bottom: 14px solid transparent;
    border-radius: 2px;
    margin-top: 8px;
    margin-left: 5px;
}

@keyframes pulse-border {
    0% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1;
    }
    100% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
        opacity: 0;
    }
}

.section-title {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 400;
    color: #151948;
    padding-bottom: 0.7em
}

#serblocks {
    color: black;
    float: right;
    width: 100%;
    background-color: #fff;
    flex-wrap: wrap;
}

#secondser {
    float: left;
    flex: 0 0 50%;
    margin-top: 2px;
    margin-left: 2px;
    max-width: 100%;
    padding: 0;
}

#thirdser {
    float: left;
    flex: 0 0 50%;
    margin-top: 2px;
    margin-left: 2px;
    max-width: 100%;
    padding: 0;
}

#fourthser {
    float: left;
    flex: 0 0 50%;
    margin-top: 2px;
    margin-left: 2px;
    max-width: 100%;
    padding: 0;
}

#fifthser {
    float: left;
    flex: 0 0 50%;
    margin-top: 2px;
    margin-left: 2px;
    max-width: 100%;
    padding: 0;
}

#sixthser {
    float: left;
    flex: 0 0 50%;
    margin-top: 2px;
    margin-left: 2px;
    max-width: 100%;
    padding: 0;
}

#firstser {
    float: left;
    flex: 0 0 50%;
    margin-top: 2px;
    margin-left: 2px;
    max-width: 100%;
    padding: 0;
}

.cup {
    float: left;
    background: #e3fff2;
    width: 100px;
    height: 100px;
    margin: 0px auto;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-bottom: 0px;
    margin-bottom: 0px;
    text-align: center;
    display: block;
    border-radius: 50%;
    position: relative;
    margin-right: 30px;
    border: 1px solid #3ecf8e;
    margin-top: 12px;
}

.cup i {
    box-sizing: border-box;
    float: left;
    font-size: 40px;
    color: #3ecf8e;
    position: absolute;
    left: 0;
    right: 0;
    top: 32%;
}

.briefcase {
    float: left;
    background: #e3fff2;
    width: 100px;
    height: 100px;
    margin: 0px auto;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-bottom: 0px;
    margin-bottom: 0px;
    text-align: center;
    display: block;
    border-radius: 50%;
    position: relative;
    margin-right: 30px;
    border: 1px solid #3ecf8e;
    margin-top: 12px;
}

.briefcase i {
    box-sizing: border-box;
    float: left;
    font-size: 40px;
    color: #3ecf8e;
    position: absolute;
    left: 0;
    right: 0;
    top: 32%;
}

.invention {
    float: left;
    background: #e3fff2;
    width: 100px;
    height: 100px;
    margin: 0px auto;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-bottom: 0px;
    margin-bottom: 0px;
    text-align: center;
    display: block;
    border-radius: 50%;
    position: relative;
    margin-right: 30px;
    border: 1px solid #3ecf8e;
    margin-top: 12px;
}

.invention i {
    box-sizing: border-box;
    float: left;
    font-size: 40px;
    color: #3ecf8e;
    position: absolute;
    left: 0;
    right: 0;
    top: 32%;
}

.reload {
    float: left;
    background: #e3fff2;
    width: 100px;
    height: 100px;
    margin: 0px auto;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-bottom: 0px;
    margin-bottom: 0px;
    text-align: center;
    display: block;
    border-radius: 50%;
    position: relative;
    margin-right: 30px;
    border: 1px solid #3ecf8e;
    margin-top: 12px;
}

.reload i {
    box-sizing: border-box;
    float: left;
    font-size: 40px;
    color: #3ecf8e;
    position: absolute;
    left: 0;
    right: 0;
    top: 32%;
}

.layers {
    float: left;
    background: #e3fff2;
    width: 100px;
    height: 100px;
    margin: 0px auto;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-bottom: 0px;
    margin-bottom: 0px;
    text-align: center;
    display: block;
    border-radius: 50%;
    position: relative;
    margin-right: 30px;
    border: 1px solid #3ecf8e;
    margin-top: 12px;
}

.layers i {
    box-sizing: border-box;
    float: left;
    font-size: 40px;
    color: #3ecf8e;
    position: absolute;
    left: 0;
    right: 0;
    top: 32%;
}

.support {
    float: left;
    background: #e3fff2;
    width: 100px;
    height: 100px;
    margin: 0px auto;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-bottom: 0px;
    margin-bottom: 0px;
    text-align: center;
    display: block;
    border-radius: 50%;
    position: relative;
    margin-right: 30px;
    border: 1px solid #3ecf8e;
    margin-top: 12px;
}

.support i {
    box-sizing: border-box;
    float: left;
    font-size: 40px;
    color: #3ecf8e;
    position: absolute;
    left: 0;
    right: 0;
    top: 32%;
}

#blocksleft div {
    margin-top: 1em;
}

#blocksleft div:hover {
    box-shadow: 0px 0px 25px 0px rgba(95, 95, 95, 0.24);
    -moz-transition: all .8s ease;
    -webkit-transition: all .8s ease;
    transition: all .8s ease;
}

#blocksright div {
    margin-top: 1em;
}

#blocksright div:hover {
    box-shadow: 0px 0px 25px 0px rgba(95, 95, 95, 0.24);
    -moz-transition: all .8s ease;
    -webkit-transition: all .8s ease;
    transition: all .8s ease;
}

#blocksright div:hover .briefcase {
    background: #3ecf8e;
    -moz-transition: all .8s ease;
    -webkit-transition: all .8s ease;
    transition: all .8s ease;
}

#blocksleft div:hover .cup {
    background: #3ecf8e;
    -moz-transition: all .8s ease;
    -webkit-transition: all .8s ease;
    transition: all .8s ease;
}

#blocksleft div:hover .reload {
    background: #3ecf8e;
    -moz-transition: all .8s ease;
    -webkit-transition: all .8s ease;
    transition: all .8s ease;
}

#blocksright div:hover .support {
    background: #3ecf8e;
    -moz-transition: all .8s ease;
    -webkit-transition: all .8s ease;
    transition: all .8s ease;
}

#blocksleft div:hover .invention {
    background: #3ecf8e;
    -moz-transition: all .8s ease;
    -webkit-transition: all .8s ease;
    transition: all .8s ease;
}

#blocksright div:hover .layers {
    background: #3ecf8e;
    -moz-transition: all .8s ease;
    -webkit-transition: all .8s ease;
    transition: all .8s ease;
}

#blocksright div:hover .briefcase i {
    color: #fff;
    -moz-transition: all .8s ease;
    -webkit-transition: all .8s ease;
    transition: all .8s ease;
}

#blocksleft div:hover .cup i {
    color: #fff;
    -moz-transition: all .8s ease;
    -webkit-transition: all .8s ease;
    transition: all .8s ease;
}

#blocksleft div:hover .reload i {
    color: #fff;
    -moz-transition: all .8s ease;
    -webkit-transition: all .8s ease;
    transition: all .8s ease;
}

#blocksright div:hover .support i {
    color: #fff;
    -moz-transition: all .8s ease;
    -webkit-transition: all .8s ease;
    transition: all .8s ease;
}

#blocksleft div:hover .invention i {
    color: #fff;
    -moz-transition: all .8s ease;
    -webkit-transition: all .8s ease;
    transition: all .8s ease;
}

#blocksright div:hover .layers i {
    color: #fff;
    -moz-transition: all .8s ease;
    -webkit-transition: all .8s ease;
    transition: all .8s ease;
}

#contact {
    background-color: white;
    float: left;
    width: 100%;
    margin-top: 15em;
    text-align: center;
    padding-top: 4em;
    padding-bottom: 4em;
}

#contact-intro article h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    color: #24153c;
    padding-bottom: 5px;
}

.submitrow {
    margin-top: 4em;
    margin-left: -8em;
    float: left;
}

#contactForm {
    float: left;
    margin-top: 4em;
    padding-left: 16em;
}

#contactForm .form-group {
    margin-bottom: 30px;
}

#contactForm input[type=text], #contact form#contactForm input[type=email] {
    min-height: 52px;
    padding: 0px 0 0 28px;
    font-size: 16px;
    color: #5e629c;
}

#contactForm textarea {
    border-radius: 5px;
    padding: 15px 0 0 28px;
    font-size: 16px;
    color: #5e629c;
}

#contactForm .form-control:focus {
    border: 1px solid #3ecf8e;
    outline: none;
    box-shadow: none;
    background: #e5fff3;
}

.col-md-1 {
    padding-left: 5%;
}

.col-md-2 {
    padding-left: 5%;
}

.col-md-3 {
    padding-left: 5%;
    margin-right: -250%;
    margin-top: -72%;
}

.col-md-4 {
    padding-left: 5%;
    margin-right: -250%;
}

.col-md-5 {
    padding-left: 5%;
}

.col-md-5 .form-group textarea {
    width: 219%;
}

.btn-common {
    background-color: #3ecf8e;
    margin-left: -111px;
    padding: 7px 24px;
}

.btn-common:hover {
    background-color: #5533ff;
    color: white;
}

#lastimage {
    margin-top: 4em;
    margin-right: -7em;
}

.lastly {
    font-family: 'Poppins', sans-serif;
    padding-left: 5%;
    width: 95%;
    background-color: #24153c;
    margin-top: 8%;
    float: left;
    text-align: left;
    display: block;
    padding-bottom: 8%;
}

#lastly {
    border: 1px solid red;
    width: 100%;
    margin-top: 10%;
}

#last-image {
    float: left;
    margin-top: 10%;
}

#last-lists {
    margin-top: 4em;
    margin-left: 3em;
    float: right;
    width: 20%;
    text-align: left;
}

#last-lists ul {
    display: grid;
}

#last-lists ul a {
    float: left;
}

#end {
    background-color: #5e629c;
    width: 99.9%;
    float: left;
    display: block;
    border: 1px solid white;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
}

#end h3 {
    text-decoration: none;
}
.teamintro {
    margin-top: 15em;
    float: left;
    width: 100%;
}

#team {
    margin-top: 100%;
    float: left;
    display: block;
    margin-top: 15%;
    width: 100%;
    padding-top: 5%;
    margin-bottom: 5%;
}

#team article {
    text-align: center;
    width: 100%;
    line-height: 250%;
    margin-top: 10%;
}

#team article h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 400;
    color: #151948
}

#member1 {
    background-color: azure;
    padding-left: 4%;
    padding-top: 2%;
    margin-left: 10%;
    margin-right: 2%;
    float: left;
    display: block;
    border: 1px solid black;
    width: 14%;
    transition: 0.6s ease;
}

#member1 .media {
    background-color: blueviolet;
    float: left;
    display: block;
    margin-top: 20%;
}

#member1 h3 {
    margin-top: 18%;
    margin-bottom: 3%;
    width: 100%;
    float: center;
    text-align: center;
    margin-left: -17%;
}

#member1 p {
    width: 100%;
    font-size: 15px;
    text-align: center;
    margin-left: -19%;
    margin-bottom: 8%;
}

#member1:hover {
    border: 1.9px solid black;
    box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

#member2 {
    background-color: azure;
    padding-left: 4%;
    padding-top: 2%;
    margin-right: 2%;
    float: left;
    display: block;
    border: 1px solid black;
    width: 14%;
    transition: 0.6s ease;
}

#member2:hover {
    border: 1.9px solid black;
    box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

#member2 h3 {
    margin-top: 18%;
    margin-bottom: 3%;
    width: 100%;
    float: center;
    text-align: center;
    margin-left: -17%;
}

#member2 p {
    width: 100%;
    font-size: 15px;
    text-align: center;
    margin-left: -19%;
    margin-bottom: 8%;
}

#member3 {
    background-color: azure;
    padding-left: 4%;
    padding-top: 2%;
    margin-right: 2%;
    float: left;
    display: block;
    border: 1px solid black;
    width: 14%;
    transition: 0.6s ease;
}

#member3:hover {
    border: 1.9px solid black;
    box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

#member3 h3 {
    margin-top: 18%;
    margin-bottom: 3%;
    width: 100%;
    float: center;
    text-align: center;
    margin-left: -17%;
}

#member3 p {
    width: 100%;
    font-size: 15px;
    text-align: center;
    margin-left: -19%;
    margin-bottom: 8%;
}

#member4 {
    background-color: azure;
    padding-left: 4%;
    padding-top: 2%;
    margin-right: 2%;
    float: left;
    display: block;
    border: 1px solid black;
    width: 14%;
    transition: 0.6s ease;
}

#member4:hover {
    border: 1.9px solid black;
    box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

#member4 h3 {
    margin-top: 18%;
    margin-bottom: 3%;
    width: 100%;
    float: center;
    text-align: center;
    margin-left: -17%;
}

#member4 p {
    width: 100%;
    font-size: 15px;
    text-align: center;
    margin-left: -19%;
    margin-bottom: 8%;
}

#blogintro {
    padding-bottom: 4em;
}
#blogintro article h1{
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 400;
    color: #151948;
    padding-bottom: 1em;
}

#blog {
    float: left;
    width: 100%;
    margin-top: 10em;
    text-align: center;
}
#blogrow {
    background-color: white;
    float: left;
    width: 100%;
}

#blog1 {
    border: 1px solid #ddd;
    width: 25%;
    float: left;
    margin-left: 9.5%;
}

#blog2 {
    border: 1px solid #ddd;
    width: 25%;
    float: left;
    margin-left: 3%;
}

#blog3 {
    border: 1px solid #ddd;
    width: 25%;
    float: left;
    margin-left: 3%;
}
#blog1:hover{
    border: 1px solid #3ecf8e;
    margin-top: -8px;
    transition-duration: 0.5s;
    box-shadow: 0px 14px 18px 0px #ddd;
}
#blog2:hover{
    border: 1px solid #3ecf8e;
    margin-top: -8px;
    transition-duration: 0.5s;
    box-shadow: 0px 14px 18px 0px #ddd;
}
#blog3:hover{
    border: 1px solid #3ecf8e;
    margin-top: -8px;
    transition-duration: 0.5s;
    box-shadow: 0px 14px 18px 0px #ddd;
}
#blogdes h3{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #151948;
}
#blog1:hover #blogdes h3{
    color: #3ecf8e;
}
#blog2:hover #blogdes h3{
    color: #3ecf8e;
}
#blog3:hover #blogdes h3{
    color: #3ecf8e;
}
    
.blogmins a{
    text-decoration: none;
    font-size: 15px;
    color: #3ecf8e;
}
#blogauthor{
    padding-top: 1em;
    padding-bottom: 1em;
    border-top: 1px solid #ddd;
}
.name{
    margin-left: 1em;
    float: left;
}
.name i{
    color: #3ecf8e;
}
.date{
    float: right;
    margin-right: 1em;
}
.date i{
    color: #3ecf8e;
}

#memberrow {
    float: left;
    width: 91%;
    margin-left: 4.5%;
}

#member {
    text-align: center;
    background-color: white;
    box-shadow: 0px 0px 25px 0px rgba(95, 95, 95, 0.24);
    border: 1px solid #ddd;
    position: relative;
    float: left;
    width: 255px;
    margin-left: 2%;
    margin-right: 2%;
}

#membertop img{
    position: relative;
}
#memberbot {
    padding: 45px 0px 30px 0px;
    position: relative;
}

#socialicon {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    top: -10px;
}

.list-icon {
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    top: -20px;
}

.list-icon li {
    display: inline-block;
    width: 35px;
    height: 35px;
    border: 1px solid #ccc;
    border-radius: 50%;
    padding: 5px;
    line-height: 30px;
    margin: 4px;
    background: #fff;
    text-align: -webkit-match-parent;
}
.list-icon li a i{
    color: #3ecf8e;
}
#member:hover .list-icon li a i{
    color:#151948;
}
#blogrow{
    float: left;
    width: 100%;
}