.teamintro {
    margin-top: 15em;
    float: left;
    width: 100%;
}

#team {
    margin-top: 100%;
    float: left;
    display: block;
    margin-top: 15%;
    width: 100%;
    padding-top: 5%;
    margin-bottom: 5%;
}

#team article {
    text-align: center;
    width: 100%;
    line-height: 250%;
    margin-top: 10%;
}

#team article h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 400;
    color: #151948
}

#member1 {
    background-color: azure;
    padding-left: 4%;
    padding-top: 2%;
    margin-left: 10%;
    margin-right: 2%;
    float: left;
    display: block;
    border: 1px solid black;
    width: 14%;
    transition: 0.6s ease;
}

#member1 .media {
    background-color: blueviolet;
    float: left;
    display: block;
    margin-top: 20%;
}

#member1 h3 {
    margin-top: 18%;
    margin-bottom: 3%;
    width: 100%;
    float: center;
    text-align: center;
    margin-left: -17%;
}

#member1 p {
    width: 100%;
    font-size: 15px;
    text-align: center;
    margin-left: -19%;
    margin-bottom: 8%;
}

#member1:hover {
    border: 1.9px solid black;
    box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

#member2 {
    background-color: azure;
    padding-left: 4%;
    padding-top: 2%;
    margin-right: 2%;
    float: left;
    display: block;
    border: 1px solid black;
    width: 14%;
    transition: 0.6s ease;
}

#member2:hover {
    border: 1.9px solid black;
    box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

#member2 h3 {
    margin-top: 18%;
    margin-bottom: 3%;
    width: 100%;
    float: center;
    text-align: center;
    margin-left: -17%;
}

#member2 p {
    width: 100%;
    font-size: 15px;
    text-align: center;
    margin-left: -19%;
    margin-bottom: 8%;
}

#member3 {
    background-color: azure;
    padding-left: 4%;
    padding-top: 2%;
    margin-right: 2%;
    float: left;
    display: block;
    border: 1px solid black;
    width: 14%;
    transition: 0.6s ease;
}

#member3:hover {
    border: 1.9px solid black;
    box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

#member3 h3 {
    margin-top: 18%;
    margin-bottom: 3%;
    width: 100%;
    float: center;
    text-align: center;
    margin-left: -17%;
}

#member3 p {
    width: 100%;
    font-size: 15px;
    text-align: center;
    margin-left: -19%;
    margin-bottom: 8%;
}

#member4 {
    background-color: azure;
    padding-left: 4%;
    padding-top: 2%;
    margin-right: 2%;
    float: left;
    display: block;
    border: 1px solid black;
    width: 14%;
    transition: 0.6s ease;
}

#member4:hover {
    border: 1.9px solid black;
    box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

#member4 h3 {
    margin-top: 18%;
    margin-bottom: 3%;
    width: 100%;
    float: center;
    text-align: center;
    margin-left: -17%;
}

#member4 p {
    width: 100%;
    font-size: 15px;
    text-align: center;
    margin-left: -19%;
    margin-bottom: 8%;
}

#blogintro {
    padding-bottom: 4em;
}
#blogintro article h1{
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 400;
    color: #151948;
    padding-bottom: 1em;
}

#blog {
    float: left;
    width: 100%;
    margin-top: 10em;
    text-align: center;
}
#blogrow {
    background-color: white;
    float: left;
    width: 100%;
}

#blog1 {
    border: 1px solid #ddd;
    width: 25%;
    float: left;
    margin-left: 9.5%;
}

#blog2 {
    border: 1px solid #ddd;
    width: 25%;
    float: left;
    margin-left: 3%;
}

#blog3 {
    border: 1px solid #ddd;
    width: 25%;
    float: left;
    margin-left: 3%;
}
#blog1:hover{
    border: 1px solid #3ecf8e;
    margin-top: -8px;
    transition-duration: 0.5s;
    box-shadow: 0px 14px 18px 0px #ddd;
}
#blog2:hover{
    border: 1px solid #3ecf8e;
    margin-top: -8px;
    transition-duration: 0.5s;
    box-shadow: 0px 14px 18px 0px #ddd;
}
#blog3:hover{
    border: 1px solid #3ecf8e;
    margin-top: -8px;
    transition-duration: 0.5s;
    box-shadow: 0px 14px 18px 0px #ddd;
}
#blogdes h3{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #151948;
}
#blog1:hover #blogdes h3{
    color: #3ecf8e;
}
#blog2:hover #blogdes h3{
    color: #3ecf8e;
}
#blog3:hover #blogdes h3{
    color: #3ecf8e;
}
    
.blogmins a{
    text-decoration: none;
    font-size: 15px;
    color: #3ecf8e;
}
#blogauthor{
    padding-top: 1em;
    padding-bottom: 1em;
    border-top: 1px solid #ddd;
}
.name{
    margin-left: 1em;
    float: left;
}
.name i{
    color: #3ecf8e;
}
.date{
    float: right;
    margin-right: 1em;
}
.date i{
    color: #3ecf8e;
}

#memberrow {
    float: left;
    width: 91%;
    margin-left: 4.5%;
}

#member {
    text-align: center;
    background-color: white;
    box-shadow: 0px 0px 25px 0px rgba(95, 95, 95, 0.24);
    border: 1px solid #ddd;
    position: relative;
    float: left;
    width: 255px;
    margin-left: 2%;
    margin-right: 2%;
}
#membertop{
    background-color: #ddd;
}

#memberbot {
    padding: 45px 0px 30px 0px;
    position: relative;
}

#socialicon {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    top: -10px;
}

.list-icon {
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    top: -20px;
}

.list-icon li {
    display: inline-block;
    width: 35px;
    height: 35px;
    border: 1px solid #ccc;
    border-radius: 50%;
    padding: 5px;
    line-height: 30px;
    margin: 4px;
    background: #fff;
    text-align: -webkit-match-parent;
}
.list-icon li a i{
    color: #3ecf8e;
}
#blogrow{
    float: left;
    width: 100%;
}